main{
    padding-top:70px;
   
 
 } 

 div{
    padding: 50px 195px 0px 207px;
}



.card-image{
  
    width: 190px;
    height:240px;
    border-radius: 2px;
    object-position: center top;
}
h2{
    
    font-family: Poppins, sans-serif!important;
}

h2::before{
    content: "";
    position: absolute;
    color: rgb(204, 204, 204);
    font-size: 26px;
    height: 90px;
    width: 3px;
    background-color: rgb(1, 180, 228);
    transform: rotate(
45deg
);
    top: -30px;
    left: 25px;
    z-index: -1;
}