<header>
<div id="root">
    <div>
        <div>
              <img src="../../../assets/image.png"/>
        </div>
        <ul>
            <li  routerLink="/home" routerLinkActive="active" class="home">Home</li>
            <li routerLink="/character" routerLinkActive="active" class="characters">Characters</li>
            <li routerLink="/comics" routerLinkActive="active"  class="comics">Comics</li>
            <li routerLink="/series" routerLinkActive="active" class="series">Series</li>
        </ul>


    </div>    

</div>

</header>

